.header{
    position: sticky;
    top:0;left: 0;right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background-color:white;
}
.header .logo{
    padding: 0.5rem;
    display: flex;
    gap:0.7rem;
    align-items: center;
}
.header .logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius:10% ;
}
.header .logo span{
    font-size: 100%;
    font-family: var(--hero-fam);
}

.header .nav{
    display: flex;
    gap:2rem;
    align-items: center;
}
.header .icons{
    display: flex;
    gap: 1.7rem;
    align-items: center;
    font-size: 1rem;
}
.header .icons i{
 background-color: var(--heading1-color);
 color: rgb(68, 68, 151);
}